/**
  |============================
  | common styles
  |============================
*/
:root {
  /* bg */
  --bg-black-main: #2c2c2c;
  --bg-white-main: #ffffff;
  --bg-gray-main: #505050;
  --bg-yellow-main: #ffe550;
  --bg-yellow-second: #ffe450;
  --bg-green-main: #bbf330;
  --bg-green-second: #7eb101;
  /* text */
  --cl-black-main: #2c2c2c;
  --cl-white-main: #ffffff;
  --cl-gray-main: #505050;
  --cl-yellow-main: #ffe550;
  --cl-yellow-second: #ffe450;
  --cl-green-main: #bbf330;
  --cl-green-second: #7eb101;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--cl-black-main);
  font-size: 16px;
  line-height: 1.5;
}

/**
  |============================
  | resets
  |============================
*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  font-family: inherit;
  font-weight: inherit;
  cursor: pointer;
  border: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 1280px;
  padding: 0 16px;
  margin: 0 auto;
}

/**
  |============================
  | header styles
  |============================
*/

.header {
}
.header-container {
  display: flex;
  align-items: center;
}
.header-lodo {
  margin-right: auto;
}
.header-img {
}
.header-nav {
  margin-right: 30px;
}
.header-list {
  display: flex;
  gap: 28px;
  padding: 28px 0;
}
.header-item {
  font-size: 14px;
  line-height: 1.17;
}

.accent-item {
  font-weight: 700;
  color: var(--cl-green-main);
}
.header-link {
}

.header-link:hover,
.header-link:focus {
  font-weight: 700;
  color: var(--cl-green-main);
  text-decoration: underline;
}
.header-btn {
  font-family: inherit;
  line-height: inherit;
  font-weight: 500;
  font-size: 13px;
  color: var(--cl-black-main);
  background-color: var(--bg-green-main);
  border-radius: 30px;
  padding: 6px 18px;
}

.header-btn:hover,
.header-btn:focus {
  background-color: var(--bg-yellow-second);
}
/**
  |============================
  | hero styles
  |============================
*/

.hero {
}

.hero-container {
  display: flex;
  padding-top: 14px;
  padding-bottom: 30px;
  margin: 0 auto;
}
.hero-title {
  width: 502px;
  height: 116px;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  margin-top: 159px;
  margin-bottom: 28px;
}
.hero-text {
  width: 511px;
  height: 69px;
  margin-bottom: 40px;
}
.hero-btn {
  width: 98px;
  height: 32px;
  font-weight: 500;
  font-size: 13px;
  color: var(--cl-black-main);
  background-color: var(--bg-green-main);
  border-radius: 30px;
}
.hero-img {
  border-radius: 580px;
  border: 26px solid var(--bg-yellow-main);
}

/**
  |============================
  | Offerings styles
  |============================
*/

.offerings {
  background-color: var(--bg-yellow-main);
}
.offerings-img {
}
.offerings-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.2;
}
.offerings-text {
}
.offerings-list {
}
.offerings-item {
}
.offerings-second-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
}
.offerings-second-text {
  font-size: 14px;
}
.offerings-btn {
  font-weight: 500;
  font-size: 13px;
  color: var(--cl-black-main);
  background-color: var(--bg-white-main);
  border-radius: 30px;
  border: 2px;
  border-color: var(--bg-green-second);
  border-style: solid;
}

/**
  |============================
  | Favorites styles
  |============================
*/

.favorites {
}
.favorites-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
}
.favorites-text {
  line-height: 1.17;
}
.favorites-list {
}
.favorites-item {
}
.favorites-img {
}
/**
  |============================
  | Customers styles
  |============================
*/

.customers {
  background-color: var(--bg-yellow-main);
}
.customers-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
}
.customers-text {
  line-height: 1.17;
}
.customers-list {
}
.customers-item {
}
.customers-item-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
}
.customers-img {
}
.customers-second-title {
  font-weight: 500;
  font-size: 14px;
}
.customers-second-text {
  font-size: 14px;
}
/**
  |============================
  | Subscribe style
  |============================
*/

.subscribe {
}
.subscribe-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.2;
}
.subscribe-text {
}
.subscribe-form {
  border-radius: 30px;
  border: 1px;
  border-style: solid;
  background-color: var(--bg-white-main);
  border-color: var(--bg-yellow-main);
}
.subscribe-input {
  font-size: 12px;
  color: var(--cl-gray-main);
}
.subscribe-btn {
  font-weight: 500;
  font-size: 13px;
  color: var(--cl-black-main);
  background-color: var(--bg-green-main);
  border-radius: 30px;
}
.subscribe-img {
}
/**
  |============================
  | footer styles
  |============================
*/
.footer {
}
.footer-logo {
}
.footer-img {
}
.footer-nav {
}
.footer-nav-item {
  font-size: 14px;
  line-height: 1.17;
}
.footer-subscribe {
  font-weight: 500;
  font-size: 14px;
}
.footer-form {
  border-radius: 30px;
  border: 1px;
  border-style: solid;
  background-color: var(--bg-white-main);
  border-color: var(--bg-yellow-main);
}
.footer-input {
  font-size: 12px;
  color: var(--cl-gray-main);
}
.footer-btn {
  font-weight: 500;
  font-size: 13px;
  color: var(--cl-black-main);
  background-color: var(--bg-white-main);
  border-radius: 30px;
  border: 2px;
  border-color: var(--bg-green-second);
  border-style: solid;
}
.footer-text {
  font-size: 16px;
  line-height: 1.17;
}
.footer-link-policy {
  color: var(--cl-green-second);
}
.footer-rights {
}
.footer-rights-item {
  font-size: 16px;
  line-height: 1.17;
  color: var(--cl-green-second);
}
.footer-rights-link {
}
.footer-allright-text {
  font-size: 12px;
  line-height: 1.17;
}
