/**
  |============================
  | common styles
  |============================
*/
:root {
  /* bg */
  --bg-black-main: #2c2c2c;
  --bg-white-main: #ffffff;
  --bg-white-second: #fefefe;
  --bg-gray-main: #505050;
  --bg-gray-second: #c4c4c4;
  --bg-yellow-main: #ffe550;
  --bg-yellow-second: #ffe450;
  --bg-green-main: #bbf330;
  --bg-green-second: #7eb101;
  --bg-error: #ff705d;

  /* text */
  --cl-black-main: #2c2c2c;
  --cl-white-main: #ffffff;
  --cl-white-second: #fefefe;
  --cl-gray-main: #505050;
  --cl-gray-second: #c4c4c4;
  --cl-yellow-main: #ffe550;
  --cl-yellow-second: #ffe450;
  --cl-green-main: #bbf330;
  --cl-green-second: #7eb101;
  --cl-error: #ff705d;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--cl-black-main);
  font-size: 16px;
  line-height: 1.5;
}

/**
  |============================
  | resets
  |============================
*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  font-family: inherit;
  font-weight: inherit;
  cursor: pointer;
  border: none;
  min-width: 98px;
  min-height: 32px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 1280px;
  padding: 0 16px;
  margin: 0 auto;
}

/**
  |============================
  | header styles
  |============================
*/

.header {
  box-shadow: 0px 4px 24px 0px rgba(105, 105, 105, 0.1);
}
.header-container {
  display: flex;
  align-items: center;
  padding: 10px;
}
.header-lodo {
  margin-right: auto;
}
.header-img {
}
.header-nav {
  margin-right: 30px;
}
.header-list {
  display: flex;
  gap: 28px;
}
.header-item {
  font-size: 14px;
  line-height: 1.17;
}

.accent-item {
  font-weight: 700;
  color: var(--cl-green-main);
  text-decoration: underline;
}
.header-link {
  transition: color 300ms ease, text-decoration 300ms ease;
}

.header-link:hover,
.header-link:focus {
  font-weight: 400;
  color: var(--cl-green-main);
  text-decoration: underline;
}
.header-btn {
  font-family: inherit;
  line-height: inherit;
  font-weight: 500;
  font-size: 13px;
  color: var(--cl-black-main);
  background-color: var(--bg-green-main);
  border-radius: 30px;
  padding: 6px 18px;
  transition: background-color 300ms ease;
}

.header-btn:hover,
.header-btn:focus {
  background-color: var(--bg-yellow-second);
}
/**
  |============================
  | hero styles
  |============================
*/

.hero {
}

.hero-container {
  display: flex;
  justify-content: space-between;
  padding-top: 14px;
  padding-bottom: 30px;
  margin: 0 auto;
}
.hero-title {
  width: 502px;
  height: 116px;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  margin-top: 159px;
  margin-bottom: 28px;
}
.hero-text {
  width: 511px;
  height: 69px;
  margin-bottom: 40px;
}
.hero-btn {
  width: 98px;
  height: 32px;
  font-weight: 500;
  font-size: 13px;
  color: var(--cl-black-main);
  background-color: var(--bg-green-main);
  border-radius: 30px;
}

.hero-img-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.hero-arrow-l {
  content: "";
  position: absolute;
  z-index: 1;
  top: 266px;
  left: -8px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.06));
}

.hero-arrow-l:hover,
.hero-arrow-l:focus {
  stroke: var(--bg-green-second);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.06));
}

.hero-arrow-r {
  content: "";
  right: -8px;
  top: 266px;
  position: absolute;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.06));
}
.hero-arrow-r:hover,
.hero-arrow-r:focus {
  stroke: var(--bg-green-second);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.06));
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--bg-yellow-second);
}

.hero-img {
  position: relative;
  border-radius: 100%;
  border: 26px solid var(--bg-yellow-main);
}

/**
  |============================
  | Offerings styles
  |============================
*/

.offerings {
  background-color: var(--bg-yellow-main);
}

.offerings-container {
  display: flex;
  gap: 90px;
  padding-top: 113px;
  padding-bottom: 43px;
  align-items: center;
}
.offerings-img {
}

.offerings-discrb {
}
.offerings-title {
  max-width: 526px;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.2;
  margin-bottom: 20px;
}
.offerings-text {
  max-width: 500px;
  margin-bottom: 40px;
}
.offerings-list {
  display: flex;
  margin-bottom: 37px;
}
.offerings-item {
  width: 253px;
}

.offering-icon-wrapper {
  background-color: var(--bg-white-second);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}
.offerings-second-title {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
}
.offerings-second-text {
  font-size: 14px;
}
.offerings-btn {
  width: 106px;
  height: 40px;
  font-weight: 500;
  font-size: 13px;
  color: var(--cl-black-main);
  background-color: var(--bg-white-main);
  border-radius: 30px;
  border: 2px;
  border-color: var(--bg-green-second);
  border-style: solid;
  transition: background-color 700ms ease, border-color 700ms ease;
}

.offerings-btn:hover,
.offerings-btn:focus {
  background-color: var(--bg-green-main);
  border-color: var(--bg-green-main);
}

/**
  |============================
  | Favorites styles
  |============================
*/

.favorites {
}

.favorites-container {
  padding: 100px;
  margin: 0 auto;
}
.favorites-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  margin-bottom: 20px;
  text-align: center;
}
.favorites-text {
  text-align: center;
  line-height: 1.17;
  margin-bottom: 40px;
}
.favorites-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.favorites-item {
  flex-basis: calc((100% - 32px * 2) / 3);
}

.favorites-img {
  padding: 21px 20px;
  border-radius: 100%;
  border: 16px solid var(--bg-yellow-main);
  background: var(--bg-white-second);
  transition: border 500ms ease;
}

.favorites-img:hover,
.favorites-img:focus {
  border-radius: 100%;
  border: 16px solid var(--bg-green-main);
}

/**
  |============================
  | Customers styles
  |============================
*/

.customers {
  background-color: var(--bg-yellow-main);
}

.customers-container {
  background-color: var(--bg-yellow-main);
  padding-top: 100px;
  padding-right: 123px;
  padding-bottom: 200px;
  margin: 0 auto;
}
.customers-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
}
.customers-text {
  margin-bottom: 32px;
  line-height: 1.17;
}
.customers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 139px;
}
.customers-item {
  background-color: var(--white, #fefefe);
  border-radius: 0px 30px 30px 30px;
  padding: 14px;
}

.customers-icon {
  margin-bottom: 28px;
}
.customers-item-text {
  margin-bottom: 40px;
  width: 473px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
}

.customers-autor {
  display: flex;
  gap: 16px;
  align-items: center;
}
.customers-img {
  border-radius: 48px;
  border: 2px solid var(--bg-yellow-main);
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.customers-name {
  display: flex;
  align-items: center;
  position: relative;
}

.customer-name-wrapper {
  margin-right: 16px;
}
.customers-second-title {
  margin-bottom: 2px;
  font-weight: 500;
  font-size: 14px;
}

.customers-second-text {
  font-size: 14px;
}

.customers-name:after {
  content: "";
  position: absolute;
  right: 0;
  display: block;
  width: 1px;
  height: 52px;
  background-color: var(--bg-green-second);
}

/**
  |============================
  | Subscribe style
  |============================
*/

.subscribe {
}

.subscribe-container {
  padding-top: 134px;
  padding-bottom: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subscribe-wrapper {
}
.subscribe-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.2;
  margin-bottom: 20px;
}
.subscribe-text {
  width: 532px;
  margin-bottom: 24px;
}

.subscribe-active {
  display: flex;
}
.subscribe-form {
  width: 395px;
  padding: 12px;
  padding-right: 57px;
  border-radius: 30px;
  border: 1px;
  border-style: solid;
  background-color: var(--bg-white-main);
  border-color: var(--bg-yellow-main);
  margin-right: 22px;
  display: flex;
  align-items: center;
  transition: border 500ms ease;
}

.subscribe-form:focus,
.subscribe-form:hover {
  border-radius: 30px;
  border: 1px solid var(--dark-green, #7eb101);
  background: var(--white, #fefefe);
  transition: background-color 500ms ease;
}
.subscribe-input {
  font-size: 12px;
  width: 326px;
  color: var(--cl-gray-main);
  border: none;
  outline: transparent;
}
.subscribe-btn {
  padding: 11px 22px;
  font-weight: 500;
  font-size: 13px;
  color: var(--cl-black-main);
  background-color: var(--bg-green-main);
  border-radius: 30px;
  transition: background-color 500ms ease;
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: var(--bg-yellow-second);
}
.subscribe-img {
}
/**
  |============================
  | footer styles
  |============================
*/
.footer {
}

.footer-container {
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url(../images/footer/bg-footer-image.png);
  background-repeat: no-repeat;
  background-size: 1211px 266px;
  background-position: 53px 129px;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-nav-wrapper {
  display: flex;
  align-items: center;
}
.footer-logo {
  margin-right: 148px;
}
.footer-img {
}
.footer-nav {
  display: flex;
  gap: 28px;
}
.footer-nav-item {
  font-size: 14px;
  line-height: 1.17;
}

.footer-sub-wrapper {
  display: block;
}
.footer-subscribe {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 12px;
}

.footer-input-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.footer-form {
  width: 279px;
  padding: 12px;
  padding-right: 62px;
  border-radius: 30px;
  border: 1px;
  border-style: solid;
  background-color: var(--bg-white-main);
  border-color: var(--bg-yellow-main);
  margin-right: 13px;
  display: flex;
  align-items: center;
  transition: border 500ms ease;
}
.footer-input {
  width: 205px;
  font-size: 12px;
  color: var(--cl-gray-main);
  border: none;
  outline: transparent;
}

.footer-form:focus,
.footer-form:hover {
  border-radius: 30px;
  border: 1px solid var(--dark-green, #7eb101);
  background: var(--white, #fefefe);
}
.footer-btn {
  height: 42px;
  padding: 11px 22px;
  font-weight: 500;
  font-size: 13px;
  color: var(--cl-black-main);
  background-color: var(--bg-white-main);
  border-radius: 30px;
  border: 2px;
  border-color: var(--bg-green-second);
  border-style: solid;
  transition: border 500ms ease;
}

.footer-btn:hover,
.footer-btn :focus {
  border: 2px solid var(--bg-yellow-second);
}

.footer-policy-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
}
.footer-text {
  font-size: 12px;
  line-height: 1.17;
  margin-right: 5px;
}
.footer-link-policy {
  color: var(--cl-green-second);
  text-decoration: underline;
  font-size: 12px;
}

.footer-rights-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-rights {
  display: flex;
  gap: 20px;
}
.footer-rights-item {
  font-size: 12px;
  text-decoration: underline;

  line-height: 1.17;
  color: var(--cl-green-second);
}
.footer-rights-link {
}
.footer-allright-text {
  font-size: 12px;
  line-height: 1.17;
}

/**
  |============================
  | Slider main container
  |============================
*/

.swiper {
  width: 600px;
  height: 300px;
}

/**
  |============================
  | Modal window
  |============================
*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(94, 99, 99, 0.7);
  z-index: 1;
  transition: opacity 400ms ease-out, visibility 400ms ease-out;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  opacity: 1;
  width: 458px;
  min-height: 449px;
  border-radius: 30px;
  background-color: var(--bg-yellow-main);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06);
  transition: opacity 400ms ease-in 300ms, transform 400ms ease-in 300ms;
}

.backdrop.is-hidden .modal {
  transform: translateX(-50%) translateY(-70%);
  opacity: 0;
}
.modal-btn {
  min-width: 32px;
  min-height: 32px;
  position: absolute;
  top: 12px;
  right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 50%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.06));
}
.modal-btn-icon {
  fill: var(--bg-black-main);
}

.modal-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 32px;
}

/**
  |============================
  | Form
  |============================
*/

.form-caption {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 20px;
}
.form-wrapper {
  width: 100%;
  position: relative;
}
.form-lable {
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 2px;
  margin-left: 12px;
}
.form-input {
  width: 100%;
  height: 48px;
  border-radius: 30px;
  border: 1px solid rgba(18, 18, 18, 0.12);
  background-color: var(--bg-white-main);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15) inset;
  padding: 14px;
  padding-left: 12px;
  outline: transparent;
  color: var(--bg-black-main);
  line-height: 1.25;
}

.form-input:focus,
.form-textarea:focus {
  border: 2px solid var(--bg-green-second);
  background: var(--bg-white-second);
  transition: border 400ms;
}
.form-input::placeholder {
  color: var(--bg-gray-second);
  font-style: normal;
  font-weight: 400;
  line-height: 1.25;
  opacity: 0;
}

.form-input:focus::placeholder {
  opacity: 1;
  transition: opacity 500ms;
}
.form-input:not(:placeholder-shown):invalid:required {
  border-radius: 30px;
  border: 1px solid var(--bg-error);
  background: var(--bg-white-main);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15) inset;
}

.form-input:not(:placeholder-shown):valid:required {
  border-radius: 30px;
  border: 1px solid --bg-green-main;
  background: var(--bg-white-main);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15) inset;
  position: relative;
}

.error-icon {
  position: absolute;
  display: block;
  top: 73px;
  left: 13px;
  stroke: var(--bg-error);
  fill: none;
  opacity: 0;
}

.error-text {
  color: var(--cl-error);
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4;
  margin-left: 28px;
  margin-bottom: 6px;
  opacity: 0;
}

.form-input:not(:placeholder-shown):invalid:required ~ .error-icon {
  opacity: 1;
}

.form-input:not(:placeholder-shown):invalid:required ~ .error-text {
  opacity: 1;
}

.form-textarea {
  width: 100%;
  resize: vertical;
  color: var(--bg-gray-main);
  font-style: normal;
  font-weight: 400;
  line-height: 1.25;
  outline: transparent;
}

.form-textarea::placeholder {
  color: var(--bg-gray-second);
}
/* .form-btn-eror {
  border-radius: 30px;
  border: 2px solid var(--bg-error);
  color: var(--cl-black-main);
  background: var(--bg-white-main);
  opacity: 0;
} */
.form-btn {
  width: 106px;
  height: 40px;
  font-weight: 500;
  font-size: 13px;
  color: var(--cl-black-main);
  background-color: var(--bg-white-main);
  border-radius: 30px;
  border: 2px;
  border-color: var(--bg-green-second);
  border-style: solid;
  transition: background-color 700ms ease, border-color 700ms ease;
  margin-top: 32px;
}

.form-btn:hover,
.form-btn:focus {
  background-color: var(--bg-green-main);
  border-color: var(--bg-green-main);
}

.form-btn:disabled {
  background-color: var(--bg-gray-second);
  border-color: var(--bg-gray-second);
  cursor: not-allowed;
}
